<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65014454368-e6ba710a2ilo44v578vgsi9i62es3c6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65014454368-e6ba710a2ilo44v578vgsi9i62es3c6u</string>
	<key>API_KEY</key>
	<string>AIzaSyDpwCL_ejyyZqX_eezKZD54fmguSXmWbXY</string>
	<key>GCM_SENDER_ID</key>
	<string>65014454368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-ff7e9</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-ff7e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65014454368:ios:aae124307f0a5f12b3cb05</string>
</dict>
</plist>